/* COMMON */
body
{
    font-family: 'Montserrat', sans-serif;
    position: relative;
    
}


a
{
    color: #717171;
    text-decoration: none;
    display: flex;
}

a:hover
{
    cursor: pointer;
    color: white;
}


h2, h5, h4
{
    color: white;
}


p
{
    color: #717171;
    font-size: 12px;
    font-weight: bold;
    margin-top: 5px;
}


.box
{
    display: flex;
}


.arrow
{
    color: white;
}


span
{
    font-size: 13px;
    font-weight: bold;
}

ul li
{
    list-style: none;
}

/* ASIDE */


.col-aside
{
    min-width: 50px;
    max-width: 50px;
    height: calc(100vh - 90px);
    background-color: black;
}


@media screen and (min-width:576px)
{
    .col-aside
    {
        min-width: 230px;
    }
}



.upper-nav
{
    min-height: calc(100% - 60px);
}

.logo img
{
    height: 40px;
}

.home
{
    height: 250px;
}

.home span
{
    align-self: center;
}

.home img
{
    height: 25px;
}

.green-block:first-child span
{
    color: white;
}

.green-block:first-child
{
    border-left: 2px solid #adff2f;
}


.green-block:hover
{
    border-left: 2px solid #adff2f;
}


.mbottom10 i
{
    font-size: 30px;
    margin-right: 5px;
}

.playlist-text
{
    font-size: 14px;
}

.menu-playlist
{
    overflow-y: hidden;
    height: 80%;
}

.list-overflow
{
    overflow-y: auto;
    height: 80%;
}


.nav-bottom
{
    height: 60px;
}

.nav-bottom a i
{
    font-size: 13px;
}


.row-profile
{
    border-top: 1px solid white;
}


#profile
{
    height: 25px;
    background-color: #808080;
    border-radius: 50%;
}











/* SECTION MAIN-CENTER */

.col-xs
{
    background-color: #141922;
}

#overflow-mcenter

{
    height: calc(100vh - 90px);
    overflow-y: auto;
    overflow-x: hidden;
}

/* SECTION UPGRADE */

.upgrade
{
    position: fixed;
    width: 100%;
    height: 90px;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 100;
}

.btn
{
    height: 40px;
    color: white;
    border: 1px solid white;
    border-radius: 20px;
    margin: 20px;
    padding: 9px 30px;
    position: fixed;
    top: 1%;
    right: 2%;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
}

.btn:hover
{
    transform: scale(1.1);
}


/* SECTION GENERI */

.generi
{
    margin-top: 110px;
    display: flex;
    justify-content: center;
}

.generi ul li
{
    margin: 0 10px;
}

.generi ul li a
{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
}

.generi ul li:first-child a
{
    color: white;
}

.generi ul li:first-child hr
{
    border: 1px solid #adff2f;
    border-radius: 10px;
    width: 30%;
    margin-left: 35%;
    margin-top: 3px;
}

.generi ul li:not(:first-child) hr
{
    border: 1px solid #adff2f;
    border-radius: 10px;
    width: 30%;
    margin-left: 35%;
    margin-top: 3px;
    display: none;
}

.generi ul li:hover hr
{
    display: block;
}


/* SECTION PLAYED */


.cover img
{
    width: 100%;
    margin: 0 10px;
}


.cover
{
    width: 100%;
    padding: 10px;
    position: relative;
    display: flex;
}

.cover-text
{
    text-align: center;
}



.cover-hover
{
    position: absolute;
    top: 10px;
    left: 20px;
    width: 143px;
    height: 143px;
    justify-content: center;
    align-items: center;
    display: none;
    color: white;
    font-size: 40px;
}

.cover:hover .cover-hover
{
    display: flex;
    background-color: rgba(0, 0, 0, 0.4);  
}




/* SECTION DAILY-MIX */






/* SECTION ARTISTI POPOLARI */

.popolari
{
    border-radius: 50%;
}

.cover-hover-circle
{
    position: absolute;
    top: 10px;
    left: 20px;
    width: 143px;
    height: 143px;
    justify-content: center;
    align-items: center;
    display: none;
    color: white;
    font-size: 40px;
    border-radius: 50%;
}


.cover:hover .cover-hover-circle
{
    display: flex;
    background-color: rgba(0, 0, 0, 0.4);  
}


/* FOOTER */

footer
{
    height: 90px;
    background-color: #282828;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 10; 
}  

.fot-flex
{
    display: flex;
    justify-content: space-between;
}


.music, .time, .volume
{
    display: flex;
}



.music img
{
    height: 50px;
}

.row-text
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.row-text h5
{
    font-size: 14px;
}

.row-icon
{
    display: flex;
    justify-content: flex-end;
}

.row-icon a i
{
    font-size: 15px;
    margin: 0px 5px;
}


.time a
{
    margin: 0 10px;
    color: white;
    font-size: 20px;
}

#arrowsx
{
    border-left: 2px solid white;
}


#arrowdx
{
    border-right: 2px solid white;
}

.time a:hover
{
    transform: scale(1.5);
}


.row-time
{
    position: relative;
}

.row-time a:first-child span
{
    position: absolute;
    top: 50%;
    right: 285px;
    font-size: 10px;
}

.row-time a:last-child span
{
    position: absolute;
    top: 50%;
    left: 100px;
    font-size: 10px;
}


#barra
{
    width: 350px;
    height: 4px;
    background-color: #5a5a5a;
    position: absolute;
    top: 54%;
    left: -260px;
    border-radius: 10px;
}


#scorrimento
{
    width: 100px;
    height: 4px;
    background-color: white;
    position: absolute;
    top: 54%;
    left: -260px;
    border-radius: 10px;
}

#cursore
{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: white;
    border: 2px solid black;
    position: absolute;
    top: 47%;
    left: -170px;
    display: none;
}

.blocco-barra:hover #cursore
{
    display: inline;
}

.blocco-barra:hover #scorrimento
{
    background-color: lime;
}


.volume a
{
    margin: 0 5px;
    color: white;
}

.volume
{
    align-items: center;
    position: relative;
    margin-right: 100px;
    
}

#barra-volume
{
    width: 75px;
    height: 4px;
    background-color: #5a5a5a;
    position: absolute;
    top: 48%;
    left: 85px;
    border-radius: 10px;
}

#scorrimento-volume
{
    width: 30px;
    height: 4px;
    background-color: white;
    position: absolute;
    top: 48%;
    left: 85px;
    border-radius: 10px;
}

#cursore-volume
{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: white;
    border: 2px solid black;
    position: absolute;
    top: 40%;
    left: 105px;
    display: none;
}

.volume:hover #cursore-volume
{
    display: inline;
}

.volume:hover #scorrimento-volume
{
    background-color: lime;
}







